.sl_header dl>dd{font-size:16px;}
.slxiangqing_main>img{width:80%;margin:30px 10% 20px 10%;text-align:center;}
.slxiangqing_main h6{margin:30px 0;}
.main_left{width:75%;margin-right:10px;float:left;overflow:hidden;}
.main_right{width:24%;float:left;overflow:hidden;}
.word_show{}
.row1,.row2{overflow:hidden;margin:20px 0;}
.show_time{width:100px;height:30px;line-height:30px;float:left;margin-top:8px;text-align:center;border-radius:20px;margin-right:20px;}  .row1>p>span{color:#E87630;}
.row1>.show_time{background:#E87630;color:white;}
.row1>p,.row2>p{color:#ccc;width:80%;float:left;}
.row1>p>span{color:#E87630;}
.row2>.show_time{color:black;}
.row2>p>span{color:black;font-weight:700;}
.right_shang{overflow:hidden;margin-bottom:15px;}
.right_xia{overflow:hidden;padding:10px 20px 20px 20px;}
.zhibo{margin:25px 0;overflow:hidden;}
.zhibo>a>img{width:100%;margin-bottom:20px;}
.zhibo>p{line-height:27px;}
@media screen and (max-width:1200px){.main_left{width:74%}}
@media screen and (max-width:1200px){.zhibo{margin:3px 0;}}
@media screen and (max-width:990px){.row1>p, .row2>p{width:74%;line-height:27px;}}
@media screen and (max-width:990px){.slxiangqing_main>img{width:60%;margin:30px 10%  5px 19%}}
@media screen and (max-width:990px){.sl_header>dl>dt{margin-top:0}}
@media screen and (max-width:768px) {.sl_header{margin:10px 0;}}
@media screen and (max-width:768px){.sl_header dl>dd{font-size:14px;}}
@media screen and (max-width:710px){.row1>p, .row2>p{width:72%;line-height:29px;}}
@media screen and (max-width:700px){.zhibo>a>img{margin-bottom:10px;}}
@media screen and (max-width:700px){.zhibo>p{line-height:23px;}}
@media screen and (max-width:678px){.main_left{width:98%;margin:0 auto;float:none;}}
@media screen and (max-width:678px){.main_right{width:98%;margin:0 auto;float:none;}}
@media screen and (max-width:678px){.zhibo>a>img{width:63%;margin:25px 0;}}
@media screen and (max-width:678px){.row1>p, .row2>p{width:79%;}}
@media screen and (max-width:670px){.slxiangqing_main h6{margin:20px 0; }}
@media screen and (max-width:670px){.fbt>p{float:left;}}
@media screen and (max-width:660px){.row1>p, .row2>p{width:77%;}}
@media screen and (max-width:600px){.sl_header>dl>.huojin{width:64%;}}
@media screen and (max-width:600px){.sl_header>dl>dt{margin-top:32px;}}
@media screen and (max-width:610px){.row1>p, .row2>p{width:76%;}}
@media screen and (max-width:590px){.row1>p, .row2>p{width:74%;}}
@media screen and (max-width:580px){.sl_header>dl>dd>h2{font-size:18px;}}
@media screen and (max-width:550px){.sl_header>dl>dd>h2{font-size:17px;}}
@media screen and (max-width:540px){.sl_header dl>dd{font-size:12px;}}
@media screen and (max-width:540px){.fbt>p{width:100%;}}
@media screen and (max-width:540px){.show_time{width:80px;}}
@media screen and (max-width:540px){.zhibo>a>img{margin:10px 0;}}
@media screen and (max-width:530px){.row1>p, .row2>p{width:76%;line-height:24px;}}
@media screen and (max-width:495px){.sl_header dl>dd{font-size:12px;}}
@media screen and (max-width:495px){.row1>p, .row2>p{width:75%;}}
@media screen and (max-width:480px){.sl_header>dl>dd>h2{font-size:15px;}}
@media screen and (max-width:480px){.show_time{margin-right:15px;}}
@media screen and (max-width:466px){.row1>p, .row2>p{width:72%;}}
@media screen and (max-width:440px){.row1>p, .row2>p{width:70%;font-size:12px;line-height:22px;}}
@media screen and (max-width:440px){.sl_header>dl>dd>h2{font-size:14px;width:140%;}}
@media screen and (max-width:440px){.right_xia>p{margin:0;}}
@media screen and (max-width:460px){.sl_header>dl>dt{margin-top:42px;}}
@media screen and (max-width:410px){.row1>p, .row2>p{width:69%;}}
@media screen and (max-width:440px){.sl_header>dl>.huojin{line-height:23px}}
@media screen and (max-width:440px){.sl_header>dl>dt{margin-top:51px;}}
@media screen and (max-width:380px){.row1>p, .row2>p{width:65%;}}
@media screen and (max-width:380px){.row1, .row2{margin:10px 0}}
@media screen and (max-width:380px){.sl_header>dl>dt{margin-top:57px;}}








/*@media screen and (max-width:678px){.fbt>ul{float:right;}}*/
/*@media screen and (max-width:678px){.slxiangqing_main h6{margin:10px 0;}}*/
/*@media screen and (max-width:678px){.row1, .row2{margin:10px 0;}}*/
/*@media screen and (max-width:660px){.row1>p, .row2>p{width:69%;}}*/